$color1: #311457;
$colore2: #230026;
$carpet-blue: #190e37;
$memeunity-purple: #9b50ff;
$phantasma-blue: #17b1e8;

$oversaturated-bg-blue: #080940;
$secondary-bg-purple: #1f0a42;

$less-saturated-main-bg: #0e0f1f;
$less-saturated-asides-bg: #1f1331;
$input-bg: #2d2035;
$kcal: #cf0000;
